@model Project1.Website.Models.ClassesViewModel

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    Trial
    @foreach (var iclass in Model.Classes)
    {
        @String.Format("{0} - {1} - {2} - {3:c}", iclass.Id, iclass.Name, iclass.Description, iclass.Price)<br />
    }
</div>